In [ ]:
!mkdir ~/.kaggle

In [ ]:
!cp kaggle.json ~/.kaggle/kaggle.json

In [ ]:
!chmod 600 ~/.kaggle/kaggle.json # change permission

In [ ]:
!pip list

In [ ]:
!kaggle competitions download -c house-prices-advanced-regression-techniques # setup kaggle api

Downloading house-prices-advanced-regression-techniques.zip to /content
  0% 0.00/199k [00:00<?, ?B/s]
100% 199k/199k [00:00<00:00, 70.0MB/s]

In [ ]:
!unzip house-prices-advanced-regression-techniques.zip

Archive:  house-prices-advanced-regression-techniques.zip
  inflating: data_description.txt
  inflating: sample_submission.csv
  inflating: test.csv
  inflating: train.csv

## Pipeline practice

In [ ]:
import pandas as pd

from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestRegressor

In [ ]:
df = pd.read_csv("train.csv")
df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [ ]:
df.columns

Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig',
       'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1',
       'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
       'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC',
       'Fence', 'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition', 'SalePrice'],
      dtype='object')

In [ ]:
select_df=df[['MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'LotShape', 'LandContour', 'Utilities', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SalePrice']].dropna()
select_df.describe()

,MSSubClass,LotFrontage,LotArea,MiscVal,MoSold,YrSold,SalePrice
count,1201.000000,1201.000000,1201.000000,1201.000000,1201.000000,1201.000000,1201.000000
mean,57.198168,70.049958,9951.698585,25.490425,6.342215,2007.802664,180770.480433
std,43.106427,24.284752,7924.353975,189.782665,2.703755,1.330486,83389.519866
min,20.000000,21.000000,1300.000000,0.000000,1.000000,2006.000000,34900.000000
25%,20.000000,59.000000,7420.000000,0.000000,5.000000,2007.000000,127500.000000
50%,50.000000,69.000000,9262.000000,0.000000,6.000000,2008.000000,159500.000000
75%,70.000000,80.000000,11249.000000,0.000000,8.000000,2009.000000,213500.000000
max,190.000000,313.000000,215245.000000,3500.000000,12.000000,2010.000000,755000.000000

In [ ]:
# Only certain columns so I dont have to deal with Nan for now
X=pd.get_dummies(select_df.drop(columns="SalePrice"))
y=select_df.SalePrice

In [ ]:
pipeline=make_pipeline(StandardScaler(), RandomForestRegressor())

In [ ]:
pipeline.fit(X,y)

Pipeline(steps=[('standardscaler', StandardScaler()),
                ('randomforestregressor', RandomForestRegressor())])

In [ ]:
pipeline.predict(X)

array([199277.5 , 166856.64, 223489.79, ..., 239215.  , 144131.5 ,
       153851.5 ])

## Save the Pipeline

In [ ]:
import pickle
#pickle.dump (wb)
#pickle.load (rb)

In [ ]:
with open("pipelinemodel.pkl","wb") as f:
  pickle.dump(pipeline, f)

In [ ]:
with open("pipelinemodel.pkl","rb") as f:
  reloaded_model=pickle.load(f)

In [ ]:
reloaded_model

Pipeline(steps=[('standardscaler', StandardScaler()),
                ('randomforestregressor', RandomForestRegressor())])

In [ ]:
# can extract certain step
# get feature importance value
# get coefficient (for linear model)

In [ ]:
reloaded_model.steps

[('standardscaler', StandardScaler()),
 ('randomforestregressor', RandomForestRegressor())]

In [ ]:
#extract only random forest regressor model
print(reloaded_model.steps[1])
print("..................................................")
print(reloaded_model.steps[1][1])
print("......................")
print(reloaded_model.steps[1][1].predict(X))

('randomforestregressor', RandomForestRegressor())
..................................................
RandomForestRegressor()
......................
[319696.25 319696.25 359700.   ... 319696.25 319696.25 319696.25]

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:444: UserWarning: X has feature names, but RandomForestRegressor was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"

## Difference between pipeline and make_pipeline

In [ ]:
# make_pipeline automatically name each step

In [ ]:
from sklearn.pipeline import Pipeline

In [ ]:
pipeline = make_pipeline(StandardScaler(),RandomForestRegressor())

In [ ]:
custom_pipeline=Pipeline([
    ("sc",StandardScaler()),
    ("rfmodel",RandomForestRegressor())
])

## Column Transformer

In [ ]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

In [ ]:
# identify numerical features and categorical features
# make pipeline for both numerical features and categorical features
# numerical features ---> scaling
# categorical features ---> onehotencoder, pdgetdummies
# finally we can combine them both :)))
# finally finally we can create our machine learning pipeline

In [ ]:
select_df.dtypes

MSSubClass       int64
MSZoning        object
LotFrontage    float64
LotArea          int64
Street          object
LotShape        object
LandContour     object
Utilities       object
MiscVal          int64
MoSold           int64
YrSold           int64
SaleType        object
SalePrice        int64
dtype: object

In [ ]:
select_df.select_dtypes("object").columns # this gives me the column names for categorical columns

Index(['MSZoning', 'Street', 'LotShape', 'LandContour', 'Utilities',
       'SaleType'],
      dtype='object')

In [ ]:
# Numeric features
numerical_features=select_df.drop(columns="SalePrice").select_dtypes(exclude="object").columns
print(numerical_features)
numerical_pipeline=Pipeline([("scaling",StandardScaler())])

Index(['MSSubClass', 'LotFrontage', 'LotArea', 'MiscVal', 'MoSold', 'YrSold'], dtype='object')

In [ ]:
# Categorical features
categorical_features=select_df.select_dtypes("object").columns
print(categorical_features)
categorical_pipeline=Pipeline([("onehot",OneHotEncoder())])

Index(['MSZoning', 'Street', 'LotShape', 'LandContour', 'Utilities',
       'SaleType'],
      dtype='object')

In [ ]:
##ColumnTransformer??

In [ ]:
transformer=ColumnTransformer([("numeric_preprocessing",numerical_pipeline,numerical_features),
                               ("categorical_preprocessing",categorical_pipeline,categorical_features)
])

In [ ]:
transformer

ColumnTransformer(transformers=[('numeric_preprocessing',
                                 Pipeline(steps=[('scaling',
                                                  StandardScaler())]),
                                 Index(['MSSubClass', 'LotFrontage', 'LotArea', 'MiscVal', 'MoSold', 'YrSold'], dtype='object')),
                                ('categorical_preprocessing',
                                 Pipeline(steps=[('onehot', OneHotEncoder())]),
                                 Index(['MSZoning', 'Street', 'LotShape', 'LandContour', 'Utilities',
       'SaleType'],
      dtype='object'))])

In [ ]:
ml_pipeline=Pipeline([("all_column_preprocessing", transformer),
              ("randomforestregressor",RandomForestRegressor())])

## Make Predictions

In [ ]:
X=select_df.drop(columns="SalePrice")
y=select_df["SalePrice"]

In [ ]:
ml_pipeline.fit(X,y)

Pipeline(steps=[('all_column_preprocessing',
                 ColumnTransformer(transformers=[('numeric_preprocessing',
                                                  Pipeline(steps=[('scaling',
                                                                   StandardScaler())]),
                                                  Index(['MSSubClass', 'LotFrontage', 'LotArea', 'MiscVal', 'MoSold', 'YrSold'], dtype='object')),
                                                 ('categorical_preprocessing',
                                                  Pipeline(steps=[('onehot',
                                                                   OneHotEncoder())]),
                                                  Index(['MSZoning', 'Street', 'LotShape', 'LandContour', 'Utilities',
       'SaleType'],
      dtype='object'))])),
                ('randomforestregressor', RandomForestRegressor())])

In [ ]:
ml_pipeline.predict(X)

array([204844.  , 170672.32, 212384.  , ..., 225723.75, 143585.5 ,
       151517.5 ])

In [ ]:
# You can preprocess the data, drop columns, inpute data, transform/scale the data 
# inside the pipeline. Prevents data leakage.

## Save the Pipeline

In [ ]:
with open ("columntransformermodel.pkl","wb") as f:
  pickle.dump(ml_pipeline,f)

In [ ]:
with open ("columntransformermodel.pkl","rb") as f:
  reloaded_ml_pipeline=pickle.load(f)

reloaded_ml_pipeline

Pipeline(steps=[('all_column_preprocessing',
                 ColumnTransformer(transformers=[('numeric_preprocessing',
                                                  Pipeline(steps=[('scaling',
                                                                   StandardScaler())]),
                                                  Index(['MSSubClass', 'LotFrontage', 'LotArea', 'MiscVal', 'MoSold', 'YrSold'], dtype='object')),
                                                 ('categorical_preprocessing',
                                                  Pipeline(steps=[('onehot',
                                                                   OneHotEncoder())]),
                                                  Index(['MSZoning', 'Street', 'LotShape', 'LandContour', 'Utilities',
       'SaleType'],
      dtype='object'))])),
                ('randomforestregressor', RandomForestRegressor())])